/* laborvision : Sun, 18 Aug 2013 23:14:01 +0800 */
body {
background-image:url(none);
background-position:undefined;
margin:10px;
}

h1 {
font-size:138.5%;
}

h2 {
font-size:123.1%;
}

h3 {
font-size:108%;
}

h1,h2,h3 {
margin:1em 0;
}

h1,h2,h3,h4,h5,h6,strong,dt {
font-weight:bold;
}

optgroup {
font-weight:normal;
}

abbr,acronym {
border-bottom:1px dotted #000;
cursor:help;
}

em {
font-style:italic;
}

del {
text-decoration:line-through;
}

blockquote,ul,ol,dl {
margin:1em;
}

ol,ul,dl {
margin-left:2em;
}

ol li {
list-style:decimal outside;
}

ul li {
list-style:disc outside;
}

dl dd {
margin-left:1em;
}

th,td {
border:1px solid #000;
padding:.5em;
}

th {
font-weight:bold;
text-align:center;
}

caption {
margin-bottom:.5em;
text-align:center;
}

sup {
vertical-align:super;
}

sub {
vertical-align:sub;
}

p,fieldset,table,pre {
margin-bottom:1em;
}

button,input[type=checkbox],input[type=radio],input[type=reset],input[type=submit] {
padding:1px;
}

html {
background:#000 url(http://pic.pimg.tw/pixnetvisual/4bea439600868.jpg) no-repeat fixed center top;
font-size:13px;
line-height:1.5;
color:#777;
font-family:Arial, Sans-serif;
}

a {
color:#e79300;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

#authority {
width:250px;
height:30px;
position:relative;
left:-350px;
z-index:5000;
color:#fff;
margin:0 auto -30px;
}

#authority a {
color:#7db8bd;
margin-right:15px;
}

#container3 {
width:1024px;
position:relative;
margin:0 auto;
}

#header {
height:200px;
position:relative;
background-image:url(none);
background-position:undefined;
}

#content {
width:680px;
float:left;
background:#fff;
position:relative;
margin-bottom:50px;
background-color:#fff;
padding:10px;
}

#links {
overflow:hidden;
width:300px;
float:right;
margin-left:20px;
background-color:transparent;
}

#footer {
clear:both;
color:#82a7aa;
line-height:normal;
margin-bottom:60px;
}

#footer a {
color:#82a7aa;
}

#login-bar {
text-align:right;
color:#7db8bd;
}

#login-bar a {
color:#7db8bd;
}

#banner h1 {
border-right:1px solid #486f5e;
padding-right:15px;
float:left;
font-family:Arial, Sans-serif;
font-size:22px;
color:#fff;
}

#banner h1 a {
color:#fff;
font-family:Arial, Sans-serif;
}

#banner h2 {
font-family:Arial, Sans-serif;
font-size:13px;
color:#def270;
display:inline;
font-weight:normal;
position:relative;
top:40px;
left:15px;
}

#navigation {
background:url(http://pic.pimg.tw/pixnetvisual/4bea4398d9b55.png);
clear:both;
height:30px;
width:1020px;
position:absolute;
bottom:15px;
margin:0;
padding:5px;
}

#navigation li {
display:inline;
margin:0;
padding:0;
}

#navigation a {
display:block;
background:url(http://pic.pimg.tw/pixnetvisual/4bea4398d9b55.png);
float:left;
color:#fff;
height:30px;
line-height:30px;
margin-right:5px;
padding:0 30px;
}

#spotlight {
background:url(http://pic.pimg.tw/pixnetvisual/4bea439acad46.png) no-repeat left top;
padding-left:70px;
padding-bottom:20px;
margin-bottom:20px;
border-bottom:1px solid #ccc;
}

#spotlight h5 {
font-size:25px;
line-height:50px;
margin:0;
padding:0;
}

#article-area h3 {
font-size:15px;
}

.publish {
text-align:center;
width:60px;
height:50px;
padding-top:4px;
background:url(http://pic.pimg.tw/laborvision/1376829393-148834090.png) no-repeat left top;
position:absolute;
left:-70px;
top:0;
font-size:16px;
font-weight:bold;
color:#c00;
}

.title {
background:url(http://pic.pimg.tw/pixnetvisual/4bea43880b98b.png);
line-height:40px;
font-size:14pt;
font-weight:bold;
padding:0 10px;
}

.title a {
color:#333;
}

.bookmark {
background:#eee;
width:18px;
position:absolute;
top:60px;
left:-34px;
font-size:0;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-left-radius:5px;
-webkit-border-top-left-radius:5px;
-moz-border-radius-topleft:5px;
border-top-left-radius:5px;
padding:3px;
}

.bookmark img {
margin:1px 0;
}

.history {
margin-top:10px;
}

.main-list table {
width:100%;
border-collapse:collapse;
border-style:none;
}

.main-list th {
background:url(http://pic.pimg.tw/pixnetvisual/4bea439b54757.png);
color:#333;
}

.main-list td {
border-bottom:1px dotted #ccc;
}

.main-list tr:hover {
background:url(http://pic.pimg.tw/pixnetvisual/4bea439bb8547.png);
}

.list-title {
text-align:left;
}

.list-num,.list-date,.list-visit,.list-comment {
text-align:center;
}

.user-post-title {
background:url(http://pic.pimg.tw/pixnetvisual/4bea439600868.jpg) center top fixed;
color:#fff;
font-size:13px!important;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
padding:10px;
}

#comment-box .user-post-title {
margin-top:20px;
}

.single-post {
position:relative;
border-bottom:1px dotted #ccc;
font-size:13px;
margin:10px!important;
padding:0 0 10px!important;
}

.post-info {
color:#666;
font-weight:bold;
}

.post-info img {
vertical-align:middle;
}

.post-photo {
float:left;
position:absolute;
left:-80px;
top:0;
}

.post-photo img {
width:45px;
height:45px;
background:#fff;
margin-left:10px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-left-radius:5px;
-webkit-border-top-left-radius:5px;
-moz-border-radius-topleft:5px;
border-top-left-radius:5px;
padding:4px;
}

.post-text {
margin-bottom:5px;
color:#888;
padding:5px 0;
}

.reply-text {
clear:both;
border:1px solid #eeb;
background:#ffe;
color:#663;
padding:5px;
}

.post-time {
float:right;
font-weight:normal;
font-size:11px;
color:#888;
}

#trackback-box #trackback-url {
position:absolute;
right:10px;
top:9px;
text-align:center;
}

#trackback-box input {
border:1px solid #999;
color:#fff;
background:#999;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
font:11px arial;
margin-left:5px;
padding:2px;
}

#trackback-box input#trackback-input {
background:#fff;
color:#333;
border:1px solid #ccc;
width:350px;
margin:0;
padding:3px;
}

#trackback-box .post-text {
width:auto;
float:none;
}

#comment-form {
background:none;
margin:10px auto;
padding:10px 5px;
}

#comment-form p {
color:#bbb;
text-align:right;
margin:0 10px 5px;
}

#comment-form table {
width:100%;
border:none;
}

#comment-form table td {
color:#999;
vertical-align:top;
border:none;
padding:2px 5px;
}

#comment-form table th {
color:#999;
vertical-align:top;
width:70px;
border:none;
text-align:right;
padding:2px 5px;
}

#comment-form input {
height:17px;
font-family:Arial;
font-size:11px;
color:#000;
border:none;
border-bottom:1px solid #ccc;
background:none;
width:99%;
}

#comment-form input.radio {
border:none;
width:auto;
background:none;
position:relative;
top:4px;
margin:0;
padding:0;
}

#comment-form input#blogcommenttext_name {
width:95.5%;
}

#comment-form input#send-comment {
position:relative;
top:-20px;
left:-5px;
background:#e79300;
color:#fff;
width:100px;
height:30px;
-webkit-border-radius:20px;
-moz-border-radius:20px;
border-radius:20px;
border-style:none;
}

#comment-form textarea {
width:99%;
height:90px;
font-family:Arial;
font-size:11px;
line-height:18px;
color:#000;
border:1px solid #ccc;
background:#fff;
}

.page {
position:relative;
bottom:-28px;
}

.page a {
background:url(http://pic.pimg.tw/pixnetvisual/4bea43993fe8a.png);
color:#fff;
-webkit-border-bottom-right-radius:5px;
-moz-border-radius-bottomright:5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-left-radius:5px;
padding:1px 8px 3px;
}

.page span {
background:#fff;
-webkit-border-bottom-right-radius:5px;
-moz-border-radius-bottomright:5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-left-radius:5px;
padding:1px 20px 3px;
}

.box {
margin-bottom:20px;
position:relative;
background:url(http://pic.pimg.tw/pixnetvisual/4bea43986f9fa.png);
padding:10px;
}

.box a {
color:#8ed1bb;
font-weight:normal;
}

.box-title {
font-size:120%;
font-weight:normal;
background:url(http://pic.pimg.tw/pixnetvisual/4bea43986f9fa.png);
margin-bottom:10px;
margin-top:0;
color:#ff0;
padding:10px;
}

.box-text {
color:#8ed1bb;
font-size:14px;
line-height:1.5;
padding:0 10px 10px;
}

.box ul {
margin-left:15px;
margin-top:0;
}

.box-more {
position:absolute;
right:15px;
top:15px;
}

.box-more a {
color:#666;
}

#headshot ul {
overflow:hidden;
_overflow:none;
_height:1%;
margin:0;
}

#calendar table {
border-collapse:collapse;
width:100%;
border-style:none;
}

#calendar th,#calendar td {
text-align:center;
border-style:none;
padding:0;
}

#calendar td.today {
background:url(http://pic.pimg.tw/pixnetvisual/4bea43986f9fa.png);
color:#78d1d9;
}

#visitor ul,#crumb ul {
display:inline;
margin:0;
}

#visitor li,#crumb li {
display:inline;
}

#visitor li img,#crumb li img {
width:40px;
height:40px;
}

#broadcast ul {
overflow:hidden;
_overflow:none;
_height:1%;
border-bottom:1px dotted #194e52;
padding-bottom:2px;
line-height:normal;
margin:0 0 10px;
}

#broadcast .broadcast-photo {
width:50px;
height:50px;
float:left;
}

#search {
position:absolute;
top:152px;
left:740px;
background:transparent;
margin:0;
padding:0;
}

#search ul {
margin:0;
}

#search li {
list-style:none;
display:inline;
}

#search input#search-target {
background:url(http://pic.pimg.tw/pixnetvisual/4bea439a04cae.png) repeat-y left top;
width:150px;
height:26px;
line-height:26px;
color:#fff;
font-family:Arial, Sans-serif;
border-style:none;
padding:0 5px;
}

#search input#search-submit {
width:98px;
height:43px;
background:url(http://pic.pimg.tw/pixnetvisual/4bea439a5d4a9.png);
font-size:0;
text-indent:-5000px;
position:absolute;
top:0;
left:160px;
border-style:none;
}

#links-row-1 {
margin-top:-340px;
}

#header h2 {
font-size:18pt;
}

img,.main-list th,.main-list td {
border-style:none;
}

#banner .skiplink,#banner #blog-category,.time,.day,.bookmark iframe,.back-to-top,.post-comment,#comment-form table tr.comment-form-title,#comment-form table th font,#search .box-title {
display:none;
}

.article,.user-post-box {
position:relative;
}

.article-head li,.article-footer li,.user-post-box li,#broadcast li {
list-style:none;
}

.article-body,.article-footer {
padding:0 10px;
}

.article-head,#links ul,#links li,.article-footer ul,.user-post-box ul {
list-style:none;
margin:0;
padding:0;
}

.history h6,.box h6 {
font-size:13px;
margin:0;
padding:0;
}

#search .box-text,.post-text p,.reply-text p {
margin:0;
padding:0;
}

#header h1,#header h1 a,#header h1,#header h1 a,#header h1,#header h1 a,#header h1,#header h1 a {
font-size:24pt;
}